HAL_TAVUS_RUNTIME_MODE=dry-run
HAL_TAVUS_REPLICA_ID=
HAL_TAVUS_PERSONA_ID=
HAL_MEETING_TRANSPORT_MODE=dry-run
HAL_ZOOM_MEETING_CREATE_MODE=dry-run
HAL_ZOOM_LIVE_CREATE_ENABLED=false
HAL_ZOOM_LIVE_CREATE_KILL_SWITCH=true
HAL_ZOOM_RETURN_JOIN_URL=false
ZOOM_ACCOUNT_ID=
ZOOM_CLIENT_ID=
ZOOM_CLIENT_SECRET=
ZOOM_USER_ID=me
